crosshair
{
	position: absolute;
	transform: translateX( -50% ) translateY( -0% );
	mix-blend-mode: lighten;
	width: 0.5px;
	height: 0.5px;

	.element
	{
		position: absolute;
	}


	.el0
	{
		background-color: rgb(255, 255, 255);
		border-radius: 1000px;
		width: 6px;
		height: 6px;
	}

	&.tfdm_minigun 
	{
		opacity: 1;
		transition: opacity 0.5s ease-in;

		.el0
		{
			background-color: transparent;
			background-image: url(/ui/hud_crosshair.png);
			border-radius: 100px;
			width: 49px;
			height: 49px;
			left: -20px;
			top: -20px;
			transition: all 0.3s ease-out;
		}
	}

	&.tfdm_shotgun
	{
		opacity: 1;
		transition: opacity 0.5s ease-in;

		.el0
		{
			background-color: transparent;
			background-image: url(/ui/hud_crosshair.png);
			border-radius: 100px;
			width: 49px;
			height: 49px;
			left: -20px;
			top: -20px;
			transition: all 0.3s ease-out;
		}
	}

	&.tfdm_fists 
	{
		opacity: 1;
		transition: opacity 0.5s ease-in;

		.el0
		{
			background-color: transparent;
			background-image: url(/ui/hud_crosshair.png);
			border-radius: 100px;
			width: 49px;
			height: 49px;
			left: -20px;
			top: -20px;
			transition: all 0.3s ease-out;
		}
	}

	&.tfdm_bat 
	{
		opacity: 1;
		transition: opacity 0.5s ease-in;

		.el0
		{
			background-color: transparent;
			background-image: url(/ui/hud_crosshair.png);
			border-radius: 100px;
			width: 49px;
			height: 49px;
			left: -20px;
			top: -20px;
			transition: all 0.3s ease-out;
		}
	}

	&.tfdm_scattergun
	{
		opacity: 1;
		transition: opacity 0.5s ease-in;

		.el0
		{
			background-color: transparent;
			background-image: url(/ui/hud_crosshair.png);
			border-radius: 100px;
			width: 49px;
			height: 49px;
			left: -20px;
			top: -20px;
			transition: all 0.3s ease-out;
		}
	}

	&.tfdm_scoutpistol 
	{
		opacity: 1;
		transition: opacity 0.5s ease-in;

		.el0
		{
			background-color: transparent;
			background-image: url(/ui/hud_crosshair.png);
			border-radius: 100px;
			width: 49px;
			height: 49px;
			left: -20px;
			top: -20px;
			transition: all 0.3s ease-out;
		}
	}

	&.tfdm_grenadelauncher
	{
		opacity: 1;
		transition: opacity 0.5s ease-in;

		.el0
		{
			background-color: transparent;
			background-image: url(/ui/hud_crosshair.png);
			border-radius: 100px;
			width: 49px;
			height: 49px;
			left: -20px;
			top: -20px;
			transition: all 0.3s ease-out;
		}
	}

	&.tfdm_stickybomblauncher
	{
		opacity: 1;
		transition: opacity 0.5s ease-in;

		.el0
		{
			background-color: transparent;
			background-image: url(/ui/hud_crosshair.png);
			border-radius: 100px;
			width: 49px;
			height: 49px;
			left: -20px;
			top: -20px;
			transition: all 0.3s ease-out;
		}
	}

	&.tfdm_bottle
	{
		opacity: 1;
		transition: opacity 0.5s ease-in;

		.el0
		{
			background-color: transparent;
			background-image: url(/ui/hud_crosshair.png);
			border-radius: 100px;
			width: 49px;
			height: 49px;
			left: -20px;
			top: -20px;
			transition: all 0.3s ease-out;
		}
	}
}
