
rootpanel
{
	background-color: rgba( #333, 0 );
	transition: background-color 0.2s ease-in;
	transform-origin: 50% 50%;

	&.spawnmenuopen
	{
		transition: background-color 0.3s ease-out;
		background-color: rgba( #333, 0.9 );
	}

	&.devcamera
	{
		display: none;
	}
}

vitals {
	position: absolute;
	left: 100px;
	bottom: 50px;
	font-size: 40px;
	font-family: TF2 Secondary;
	color: #5F5241;
	white-space: nowrap;
	background-image: url(/ui/hud_health_placeholder.png);
	background-size: cover;
	width: 150px;
	height: 150px;
	align-items: center;
	justify-content: center;

	label {
		text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.667);

		&.danger {
			color: #5F5241;
			position: absolute;
			text-align: center;
			font-size: 40px;
			font-family: TF2 Secondary;
			white-space: nowrap;
			background-image: url(/ui/hud_health_75.png);
			background-size: cover;
			width: 150px;
			height: 150px;
			align-items: center;
			justify-content: right;
		}

		&.danger2 {
			color: #5F5241;
			text-shadow: 0px 0px 10px #f005;
			position: absolute;
			text-align: center;
			font-size: 40px;
			font-family: TF2 Secondary;
			white-space: nowrap;
			background-image: url(/ui/hud_health_50.png);
			background-size: cover;
			width: 150px;
			height: 150px;
			align-items: center;
			justify-content: right;
		}

		&.danger3 {
			color: rgb(177, 0, 0);
			text-shadow: 0px 0px 10px #f005;
			position: absolute;
			text-align: center;
			font-size: 40px;
			font-family: TF2 Secondary;
			white-space: nowrap;
			background-image: url(/ui/hud_health_25.png);
			background-size: cover;
			width: 150px;
			height: 150px;
			align-items: center;
			justify-content: right;
		}

		&.dead {
			color: rgb(177, 0, 0);
			text-shadow: 0px 0px 10px #f005;
			position: absolute;
			font-size: 0px;
			font-family: TF2 Secondary;
			white-space: nowrap;
			background-image: url(/ui/hud_health_0.png);
			background-size: cover;
			width: 150px;
			height: 150px;
			align-items: center;
			justify-content: right;
		}
	}
}


ammo
{
	position: absolute;
	bottom: 64px;
	right: 100px;
	font-size: 45px;
	color: rgb(255, 255, 255);
	mix-blend-mode: lighten;
	background-image: url(/ui/hud_ammo_container_red.png);
	background-size: cover;
	width: 235px;
	height: 111px;
	align-items: center;
	justify-content: center;
	font-family: tf2build;

	label
	{
		text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.667);

		&.danger
		{
			color: #f00;
		}
	}
}
.tfdm_pistol .icon
{
	background-image: url( /ui/weapons/dm_pistol.png );
}

.tfdm_shotgun .icon
{
	background-image: url( /ui/weapons/w_shotgun_large.png );
}

.tfdm_fists .icon 
{
	background-image: url(/ui/weapons/v_fist_heavy_large.png);
}

.tfdm_minigun .icon
{
	background-image: url( /ui/weapons/w_minigun_large.png );
}

.tfdm_bat .icon 
{
	background-image: url(/ui/weapons/w_minigun_large.png);
}