sniperscope
{
	position: absolute;
	transform: translateX( -50% ) translateY( -0% );
	mix-blend-mode: lighten;
	width: 0.5px;
	height: 0.5px;
    background-image: url(/ui/weapons/scope_sniper_alt_ul.png);

    .Scoping 
    {
        background-image: url(/ui/weapons/scope_sniper_alt_ul.png);
    }
}